
.hed, .chunk {
	background-color: #f5f5f5;
	padding-bottom: 2%;
}

.hed, .bio {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.l1 {
	
	font-size: 175px;
	color: #0C6C8A;
	font-weight: 900;
	line-height: 100%;

}


h1 {
	font-size: 24px;
	font-weight:500;


}

.bio {
	
	font-weight: bold;

}

.greentext, a:hover {
color: #27D6CA;

}


.story {
	padding-top: 1%;
	font-size: 16px;
	font-family: 'Merriweather', serif;
}

.chunk {
	padding-top: 2%;
}

/*links*/

a {
	text-decoration-color: #27D6CA ;
	color: black;
}



/*media queries*/



@media screen and (max-width: 576px) {
  .l1 {
    font-size: 70px;
    }

  h2 {
    font-size: 20px;
  }
 .all {
    padding-left: 3%;
    padding-right: 3%;
  }


}



