<<<<<<< HEAD
<<<<<<< HEAD
@font-face {
	font-family: 'Newsreader';

}

body {
    background-color: #f0f0f0;
    padding-left: 600px;
    padding-right: 600px;
}

h1 {
    font-family: 'Newsreader', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
}

.date {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: gray;
    font-style: italic;
    padding-left: 41px;
}

.section,
.credit,
figcaption {
    font-family: 'Lato', sans-serif;
    color: gray;
    padding-left: 41px;
}

figcaption {
    font-family: 'Lato', sans-serif;
    color: gray;
    padding-left: 0px;
    font-family: 'Georgia', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}


=======
h1{
	font-family:'Playfair Display', serif;
}

>>>>>>> parent of 0248f30 (updating draft 1, images, etc.)
=======
h1{
	font-family:'Playfair Display', serif;
}

>>>>>>> parent of 0248f30 (updating draft 1, images, etc.)
.byline,
.credit,
.dateline{
	font-family: 'Lato', sans-serif;
}

