/*padding top 10%
/* padding left 2%
/* body padding right

*/

/*full site*/
body {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 2%;
    font-family: 'Roboto', sans-serif;

}

.resume {
    margin-left: 1%;


}
a:hover {
    color: red;

}

a {
    text-decoration: none;
    color: black;

}


/*NAV*/

.hed {
    font-size: x-large;
    font-family: 'Oswald', sans-serif;

}

.hed a {

    font-family: 'Oswald', sans-serif;
    font-size: larger;

}

hr {
    width: 30%;
    }


/*NAV AND TEXT*/

.hed, h3 {
    font-family: 'Oswald', sans-serif;
}

.nav {

	font-family: 'Roboto', sans-serif;
}





/*WORDS*/

li {
    list-style-type: square;
    font-family: 'Roboto', sans-serif;
}

.storylinks li {
    line-height: 2;
}

/*Connect*/

/*resume*/

h4, h2 {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

h2 {
    

}